html {
    scroll-behavior: smooth;
  }
body{
    font-family: "Poppins", sans-serif;
    
}   

.sidebar {
    width: 300px;
    top: 0px;
    left: 0;
    bottom: 70px;
    overflow-x: hidden;
    overflow-y:scroll;
    padding-top: 16px;
    background:#040b14;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.prof{
    text-align: center;
    width: 300px;
    margin-bottom: 0px;   
}
.prof>img{
    border-radius: 50%;
    border: 8px solid #373a46;
    margin-bottom: 10px;
}
.prof>a>i{
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 2px;
    padding: 10px;
    background-color:#373a46;
    border-radius: 50%;
    color: rgb(255, 255, 255);

}

.name{
    
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: x-large;
    
    
}
.name>a{
    color: #fff;
    text-decoration:none ;    
}
.side-menu{
    padding: 10px;
    margin: top 10px;
    text-align: left;
    
}
.sim{
    margin-top: 10px;
    font-size: 15px;
}
.sim>a{
    color: #6c757d;
    text-decoration:none ;
    
}
.sim>a>i{
    color: #6c757d;
    text-decoration:none ;
    padding: 10px;
    font-size: 25px;
    
}
ul{
    list-style: none;
    box-align:left;
    
}
#footer{
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
    height: 70px;
    
}

#home{
    margin-top: 0px;
    width: 100%;
    margin-left: 290px; 
    margin-right: 0px;
    height: 100%;
    padding: 0px 10px;
    color: black;
    
}
.content{
    padding:10px ;
    margin-left: 290px; 
    margin-right: 0px;
    width:1055px;
    padding-top: 65px;
    background-color:white;
    
}
.content>h6{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-left: 12px;
    color: #173b6c;
}
.content>hr{
    width: 60px;
    color:#0d6efd; ;
    margin-left: 10px;
    margin-top: 10px;
    height: 3px;
    
}
.main{
    background-size: cover;
    background-image: url(pfp.jpg) ;
    background-attachment: fixed;
    background-size: auto;
    
}
.bodyy{
    padding-left: 0px;
    margin-left: 0px;
    width: 1070px;
}
.discon{
    border: 1px grey solid;
    box-shadow:lightgrey;
    margin-left: 20px;
}
.feedback{
    border: 1px grey solid;
    box-shadow:lightgrey;
    padding: 20px;
    margin-left: 20px;
}
#text1{
    width:155px;
    
}

#text2{
    width:400px;
}
#textarea{
    height: 100px;
    width:400px;
}
.des>span{
    color: #173b6c;
    font-size: 24px;
    margin-top:20px;
    margin-bottom: 20px;
}